{{#each data}}
  <div class="authorization__field">
    <label class="authorization__label" for={{name}}>{{label}}</label>
    <input class="authorization__input" type={{type}} id={{name}} name={{name}} placeholder={{placeholder}}>
  </div>
{{/each}}